<!-- app/views/messages/index.html.erb -->
<h1>Messages</h1>

<ul>
  <% @messages.each do |message| %>
    <li>
      <p><strong>User:</strong> <%= message.user.username %></p>
      <p><strong>Group:</strong> <%= message.group.title %></p>
      <p><strong>Content:</strong> <%= message.content %></p>
      <%= link_to 'Show', message_path(message) %>
    </li>
  <% end %>
</ul>

