<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <style>
    /* body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      font-family: 'Rajdhani', sans-serif;
      background-color: #f0f0f0;
    }


    .img img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    h1 {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 2.5rem;
      color: white;
      background-color: #3855ea;
      border: none;
      border-radius: 50px;
    }

    .btn {
      display: inline-block;
      margin-top: 20px;
      margin-left: 15rem;
      padding: 10px 20px;
      font-size: 2rem;
      color: #fff;
      background-color: #3855ea;
      border: solid;
      border-radius: 50px;
      border-color: #FDD853;
    } */
  </style>
</head>
<body>

  <div class="img">
    <%= image_tag 'folder2.png', alt: 'Landing Page Image' %>
  </div>
  <a href="<%= home_path %>" class="btn">
    <i class="fa-solid fa-arrow-right"></i>
  </a>
</body>
</html>
