<div class="navbar">
  <a href="#home" class="active"><i class="fa-solid fa-house"></i></a>
  <a href="#Documents"><i class="fa-solid fa-file-circle-plus"></i></a>
  <a href="#Add"><i class="fa-solid fa-plus"></i></a>
  <a href="#Chat"><i class="fa-brands fa-rocketchat"></i></a>
  <a href="#Profil"><i class="fa-solid fa-user"></i></a>

</div>
