.doccard {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 15px;
  padding: 10px;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.439);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

.card-body {
  flex: 1 1 auto;
  padding: 20px;
  color: var(--bs-card-color);
}

.card {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.doc-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
