body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #f0f0f0;
}

.icon-button {
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.popup-container {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-height: 40%;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: none;
}

.field {
  margin-bottom: 15px;
}

.navbar {
  background-color: #ca30b031;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.navbar a {
  display: block;
  color: #954caf;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.navbar a.active {
  background-color: #6501514b;
  border-radius: 50px;
}

.navbar i {
  color: rgb(54, 0, 52);
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.navbar a[href="#Add"] i {
  font-size: 45px;
  color: rgb(107, 148, 219);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
