.navbar-lewagon {
  background-color: rgba(42, 79, 125, 0.282); /* Adjust transparency here */
}

.navbar-brand .brand-image {
  max-height: 20px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
