body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #f0f0f0;
}

.fixed-bottom-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: calc(100% - 40px);
}

.icon-button {
  text-decoration: none;
  color: inherit;
  font-size: 2em;
}

.dropdown-button {
  cursor: pointer;
}

.plus-btn {
  background-color: #536EFD;
  transform: translateY(-30px);
  border-radius: 50%;
  padding: 0px;
  padding: 10px;

  .fa-plus {
    font-size: 40px !important;
  }
}

#addDocumentSection {
  position: fixed;
  bottom: 106px;
  width: 88%;
  background-color: #eee7ed;
  height: 44vh;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100000;
  border-radius: 50px;
  padding: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 60px; /* Adjust based on your navbar height */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-content.show {
  display: block;
}

.field {
  margin-bottom: 15px;
}

.navbar {
  background-color: #536EFD;
  position: fixed;
  bottom: 30px;
  width: 91%;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
}

.navbar a {
  display: block;
  color: #fbf9fc;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar a.active {
  background-color: #2764464b;
  border-radius: 50px;
}

.navbar i {
  color: rgb(247, 246, 247);
  font-size: 24px;
  padding: 10px;
}

.navbar a[href="#Add"] i {
  font-size: 45px;
  color: rgb(255, 255, 255);
}

.btn.btn-outline-light {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

.btn.btn-outline-light h2 {
  margin: 0;
  font-size: 16px;
  color: #4c013d;
}
